<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>MBXAccessToken</key>
	<string>pk.eyJ1Ijoia3Nkcm9mNTAwIiwiYSI6ImNtaGd4aWUxYzBrdTYyanE2NDZ3a21qcm8ifQ.26WRX_w_Xj7CoYoHVn35Ng</string>
	<key>NSLocationWhenInUseUsageDescription</key>
    <string>Precisamos da sua localização para mostrar o mapa</string>
</dict>
</plist>
